.App {
  text-align: center;
}

.Apps{
  display: flex;
  flex-direction: space-evenly;
}

body {
  background-image: url("https://wallpaperaccess.com/full/2063931.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 5%
}

.navLink {
  background-color: black;
  color: white;
}

.movieCard {
  display: flex;
  flex-direction: column;
  background-color: black;
  max-width: 400px;
  padding: 2%;
  margin: 10px;
}

.movieContainer{
  display: flex;
  justify-content: center;
}

.movieTitle {
  color: white;
}

.movDesc{
  color: white;
}

label{
  color: white;
}

input{
  background-color: grey;
}

.err {
  color: red;
}